# 1. Manipulate using a list
i) To add new elements to the end of the list
ii) To reverse elements in the list
iii) To display the same list of elements multiple times
iv) To concatenate two list
v) To sort the elements in the list in ascending order

In [3]:
lst=[1,2,3]
lst

[1, 2, 3]

In [4]:
#i) To add new elements to the end of the list 
lst.append(4)
lst.extend([5,6,7])
print('After added-lists elements are: \n',lst)

After added-lists elements are:
 [1, 2, 3, 4, 5, 6, 7]

In [5]:
#ii) To reverse elements in the list 
lst.reverse()
print('Reversed List:',lst)

Reversed List: [7, 6, 5, 4, 3, 2, 1]

In [6]:
 #iii) To display the same list of elements multiple times
lst=lst*2
print(lst)

[7, 6, 5, 4, 3, 2, 1, 7, 6, 5, 4, 3, 2, 1]

In [7]:
#iv) To concatenate two list
lst1=[1,2,3,4]
lst2=[5,6,7,8]
concatenated_lst = lst1 + lst2
print(concatenated_lst)

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
#v) To sort the elements in the list in ascending order
lst=[66,77,7,6]
lst.sort()
lst

[6, 7, 66, 77]

# 2.Write a python program to do in the tuples
i) Manipulate using tuples
ii) To add new elements to the end of the tuples
iii) To reverse elements in the list
iv) To display the elements of the same tuple multiple times
v) To concatenate two tuples
vi) To sort the elements in the list in ascending order

In [11]:
tuple=(1,2,3,4)
print(tuple)

(1, 2, 3, 4)

In [12]:
#i)Manipulate using tuples
tuple=(1,2,3,4)
tuple

(1, 2, 3, 4)

In [21]:
 #ii) To add new elements to the end of the tuples
tuple1 = (1,2,3,4) 
tuple2 = (5,6,7,8) 
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6, 7, 8)

In [23]:
#iii) To reverse elements in the list
mytuple=(1,2,3,4)
reversedtuple=mytuple[::-1]
print('Reversed tuple:',reversedtuple)

Reversed tuple: (4, 3, 2, 1)

In [26]:
#iv) To display the elements of the same tuple multiple times
tuple=tuple*3
print(tuple)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [37]:
#v) To concatenate two tuples 
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8)
tuple3 = tuple1+tuple2
tuple3

(1, 2, 3, 4, 5, 6, 7, 8)

In [8]:
#vi) To sort the elements in the list in ascending order
tuple=(7,1,9,6)
tuple1=sorted(tuple)
print(tuple1)

[1, 6, 7, 9]

# 3.Write a python program to implement the following using list
i) Create a list with integers(minimum 10 numbers)
ii) How to display the last number in the list
iii) Command for display the values from the list[0:4]
iv) Command for display the values from the list[2:]
v) Command for displaying the values from the list[:6]

In [9]:
#i) Create a list with integers(minimum 10 numbers)
lst=[1,2,3,4,5,6,7,8,9,10]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#ii) How to display the last number in the list
last_number=lst[-1]
print('The last number in the list is:',last_number)

The last number in the list is: 10

In [12]:
#iii) Command for display the values from the list[0:4]
values_from_0_to_3=lst[0:4]
print(values_from_0_to_3)

[1, 2, 3, 4]

In [13]:
#iv) Command for display the values from the list[2:]
values_from_index_2_to_end=lst[2:]
print(values_from_index_2_to_end)

[3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#v) Command for displaying the values from the list[:6]
values_from_beginning_to_5=lst[:6]
print(values_from_beginning_to_5)

[1, 2, 3, 4, 5, 6]

# 4.Write a python program:tuple1=(10,50,20,40,30)
i) To display the elements 10 and 50 from tuple1
ii) To display the length of tuple1
iii) To find the minimum element from tuple1
iv) To add all elements in tuple1
v) To display the same tuple1 multiple times

In [16]:
#i) To display the elements 10 and 50 from tuple1
tuple1=(10,50,20,40,30)
element_10=tuple1[0]
element_50=tuple1[1]
print('element 10:',element_10)
print('element 50:',element_50)

element 10: 10
element 50: 50

In [17]:
#ii) To display the length of tuple1
length_of_tuple1=len(tuple1)
print(length_of_tuple1)

5

In [18]:
#iii) To find the minimum element from tuple1
minimum_element=min(tuple1)
print(minimum_element)

10

In [19]:
#iv) To add all elements in tuple1
total=sum(tuple1)
print('sum of all elements in tuple1:',total)

sum of all elements in tuple1: 150

In [21]:
#v) To display the same tuple1 multiple times
result=tuple1*3
print('result:',result)

result: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5.Write a python program
i) To calculate the length of a string
ii) To reverse words in a string
iii) To display the same string multiple times
iv) To concatenate two strings
v) Str1="South India",using string slicing to display"India"

In [24]:
#i) To calculate the length of a string 
str="Hello World"
len_of_string=len(str)
print(len_of_string)

11

In [40]:
#ii) To reverse words in a string
string=" HELLO WORLD"
words=string.split()
reversed_words=words[::-1]
reversed_string=' '.join(reversed_words)
print("reversed_string:",reversed_string)

reversed_string: WORLD HELLO

In [41]:
#iii) To display the same string multiple times
print(string*3)

 HELLO WORLD HELLO WORLD HELLO WORLD

In [43]:
#iv) To concatenate two strings
s1='Hello '
s2='World!'
s3=s1+s2
print(s3)

Hello World!

In [45]:
#v) Str1="South India",using string slicing to display"India"
V="South India"
print(V[5:])

 India

# 6. Perform the following
i) Creating the Dictionary
ii) Accessing values and keys in the Dictionary
iii) Updating the dictionary using a function
iv) Clear and delete the dictionary values

In [50]:
#i) Creating the Dictionary
student={'name':'john','age':'20','grade':'A+'}
print(student)

{'name': 'john', 'age': '20', 'grade': 'A+'}

In [53]:
#ii) Accessing values and keys in the Dictionary
student={'name':'john','age':'20','grade':'A+'}
age=student['age']
print(age)

20

In [58]:
# iii) Updating the dictionary using a function 
student={'name':'john','age':'20'}
student.update(student)
print(student)

{'name': 'john', 'age': '20'}

In [62]:
#iv) Clear and delete the dictionary values
del student['age']
print(student)
student.clear()
print(student)

{'name': 'john'}
{}

# 7.Python program to insert a number to any position in a list

In [63]:
lst=[1,2,4,5,6]
num_to_insert=3
position=2
lst.insert(position,num_to_insert)
print(lst)

[1, 2, 3, 4, 5, 6]

# 8.Python program to delete an element from a list by index

In [64]:
lst=[1,2,5,3,4]
index_to_delete=2
lst.pop(index_to_delete)
print(lst)

[1, 2, 3, 4]

# 9.Write a program to display a number from 1 to 100

In [69]:
n=1
while n<=100:
    print(n,end=" ")
    n=n+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10.Write a python program to find the sum of all items in a tuple

In [70]:
t=(10,20,30,40,50)
sum_of_elements=0
for element in t:
    sum_of_elements += element
    print("sum of elements in tuple:",sum_of_elements )

sum of elements in tuple: 10
sum of elements in tuple: 30
sum of elements in tuple: 60
sum of elements in tuple: 100
sum of elements in tuple: 150

# 11.Create a dictionary containing three lambda functions square,cube and squareroot.
i) E.g dict={'Square':function for squaring,'Cube':function for cube,'Squareroot':function for square root}
ii) Pass the values(input from the users) to the functions in the dictionary respectively
iii) Then add the output of each function and print it

In [2]:
math_operations = { 
    'square' : lambda x: x**3,
    'cube' : lambda x: x**2,
    'square_root' : lambda x: x**0.6
    
}
number=6
print("sqaure:", math_operations['square'](number))
print("cube:", math_operations['cube'](number))
print("Square Root:", math_operations['square_root'](number))

sqaure: 216
cube: 36
Square Root: 2.930156051583521

# 12.A list of words is given.Find the words from the list that have their second character in uppercase. ls=['hello','Dear','hOw','Are','You']

In [5]:
ls=['hello','Dear','hOw','Are','You']
res=[]
for i in ls:
  if i[1].isupper():
        res.append(i)
print(ls)
print(res)

['hello', 'Dear', 'hOw', 'Are', 'You']
['hOw']

# 13.A dictionary of names and their weights on earth is given.Find how much they will weigh on the moon.(Use map and lambda fubctions) Formula:wMoon=(wEarth*GMoon)/GEarth

In [7]:
gmoon=1.622
gearth=9.81
weightonearth={'mahesh':26,'kiara':23,'akshaya':18}
moon_weight={name:(weight*gmoon)/gearth for name,weight in weightonearth.items()}
for name,weight_moon in moon_weight.items():
    print(f'{name} : {weight_moon:.2f} kg')

mahesh : 4.30 kg
kiara : 3.80 kg
akshaya : 2.98 kg

# CONTROL STRUCTURES

# 1.Write a python program to find the first N Prime numbers.

In [8]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
         if num % i == 0 or num % (i + 2) == 0:
            return False
         i += 6
    return True

def find_primes(N):
    primes = []
    num = 2
    while len(primes) < N:
              if is_prime(num):
                primes.append(num)
              num += 1
    return primes

N = 30
prime_list = find_primes(N)
print(f"The first {N} prime numbers are:{prime_list}")

The first 30 prime numbers are:[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113]

# 2.Write the python code that calculates the salary of an employee.Prompt the user to enter the Basic Salary,HRA,TA, and DA.Add these components to calculate the Gross Salary.Also,deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [17]:
Basic_sal = float(input("Enter the Base Salary"))
HRA = int(input("Enter the HRA"))
TA = int(input("Enter the TA")) 
DA = int(input("Enter the DA"))

Gross_salary = Basic_sal+ float (HRA) + float (TA) + float (DA)

net_salary = Gross_salary-(float (Basic_sal)*0.1)

print("The net salary of an employee is after " + str(float (Basic_sal)*0.1)+" tax deduction is: "+str(Gross_salary))

Enter the Base Salary14000
Enter the HRA8000
Enter the TA3000
Enter the DA8
The net salary of an employee is after 1400.0 tax deduction is: 25008.0

# 3.Write a python program to search for a string in the given list.

In [18]:
a=["4","20","varnav","66"]
b="varnav"
if b in a:
    print(f"{b}")
else:
    print(f"{s}")

varnav

# 4.Write a python function that accepts a string and calculates the number of upper-case letters and lower-case letters

In [19]:
def count_upper_lower(n):
    upper_count = 0
    lower_count = 0
    for char in n:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    return upper_count, lower_count

input_string = "python"
upper, lower = count_upper_lower(input_string)

print("Uppercase letters:", upper)
print("Lowercase letters:", lower)

Uppercase letters: 0
Lowercase letters: 6

# 5.Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [23]:
odd_sum = 0
even_sum = 0

for number in range(12, 37):
    if number % 2 == 0:  # Check if the number is even
        even_sum += number
    else:
        odd_sum += number

print("Sum of odd numbers:", odd_sum)
print("Sum of even numbers:", even_sum)

Sum of odd numbers: 288
Sum of even numbers: 312

# 6.Write a python program to print the table of any number

In [22]:
num=5
print(f"table of {5}:")
for i in range(1,11):
    print(f"{num}*{i}={num*i}")

table of 5:
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

# 7.Write a python program to sum the first 10 prime numbers

In [24]:
count = 0
number = 2
prime_sum = 0

while count < 10:
    if is_prime(number):
        prime_sum += number
        count += 1
    number += 1

print(f"The sum of the first 10 prime numbers is: {prime_sum}")

The sum of the first 10 prime numbers is: 129

# 8.Write a python program to implement arithmetic operations using nested if statement

In [25]:
def perform_arithmetic_operation(operator, num1, num2):
    if operator == '+':
        result = num1 + num2
    elif operator == '-':
        result = num1 - num2
    elif operator == '*':
        result = num1 * num2
    elif operator == '/':
        if num2 != 0:
            result = num1 / num2
        else:
            result = "Division by zero is not allowed"
    else:
        result = "Invalid operator"

    return result
operator = input("Enter an arithmetic operator (+, -, *, /): ")
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
result = perform_arithmetic_operation(operator, num1, num2)
print(f"Result: {result}")

Enter an arithmetic operator (+, -, *, /): +
Enter the first number: 33
Enter the second number: 33
Result: 66.0

# 9.Write a python program to take the temperature in celcius and convert it into a Farenheit

In [26]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 100
100.0 degrees Celsius is equal to 212.0 degrees Fahrenheit

# 10.Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [27]:
my_list = [3, 1, 9, 5, 7, 2, 8, 4]
maximum = my_list[0]
minimum = my_list[0]
for num in my_list:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
print("Maximum:", maximum)
print("Minimum:", minimum)

Maximum: 9
Minimum: 1

# 11.Write a program in python to print out the number of seconds in 30-day month 30days,24hours in a day,60min per day,60sec in a minute

In [28]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60
total_seconds = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute
print("Number of seconds in a 30-day month:", total_seconds)

Number of seconds in a 30-day month: 2592000

# 12.Write a program in python to print out the number of seconds in a year

In [29]:
days_in_regular_year = 365
days_in_leap_year = 366
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60
total_seconds_regular = days_in_regular_year * hours_in_day * minutes_in_hour * seconds_in_minute
total_seconds_leap = days_in_leap_year * hours_in_day * minutes_in_hour * seconds_in_minute
print("Seconds in a regular year:", total_seconds_regular)
print("Seconds in a leap year:", total_seconds_leap)

Seconds in a regular year: 31536000
Seconds in a leap year: 31622400

# 13.A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [30]:
def travel_time(distance, speed):
    time = distance / speed
    return time

distance = 414  
speed = 150  

time_taken = travel_time(distance, speed)

print(f"It will take approximately {time_taken:.2f} hours to travel from London to Glasgow.")

It will take approximately 2.76 hours to travel from London to Glasgow.

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [31]:
days_in_each_school_year = 192

start_year = 7
end_year = 11

hours_per_day = 6

total_hours = (end_year - start_year + 1) * days_in_each_school_year * hours_per_day

print(f"Total hours spent in school from year {start_year} to year {end_year}: {total_hours}")

Total hours spent in school from year 7 to year 11: 5760

# 15. If the age of Ram,Sam and Khan are input through the keyboard, write a python program to determine the eldest and younger of the three

In [32]:
def find_elder_and_younger(ram_age, sam_age, khan_age):
    ages = {'Ram': ram_age, 'Sam': sam_age, 'Khan': khan_age}

    eldest = max(ages, key=ages.get)
    youngest = min(ages, key=ages.get)

    return eldest, youngest

ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

eldest, youngest = find_elder_and_younger(ram_age, sam_age, khan_age)

print(f"The eldest person is {eldest} with age {globals()[f'{eldest.lower()}_age']}.")
print(f"The youngest person is {youngest} with age {globals()[f'{youngest.lower()}_age']}.")

Enter Ram's age: 20
Enter Sam's age: 21
Enter Khan's age: 22
The eldest person is Khan with age 22.
The youngest person is Ram with age 20.

# 16.Write a python program to rotate a list by right n times with and without slicing technique.

In [33]:
#with slicing technique

def rotate_list_with_slicing(lst, n):
    n = n % len(lst)  
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_with_slicing(my_list, n)
print(rotated_list)

[4, 5, 1, 2, 3]

In [34]:
#without slicing technique

def rotate_list_without_slicing(lst, n):
    n = n % len(lst)  
    rotated_list = []
    for i in range(len(lst)):
        rotated_index = (i + n) % len(lst)
        rotated_list.append(lst[rotated_index])
    return rotated_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_without_slicing(my_list, n)
print(rotated_list)

[3, 4, 5, 1, 2]

# 17.Python program to print the below patterns
i) 1 1 1 1 2 1 1 3 3 1 1 4 6 4 1 1 5 10 10 5 1 1 6 15 20 15 6 1

ii) *   *  *    *  *  *    *  *  *  *    *  *  *  *  * 

iii)  * 
     * * 
    * * *   * * * *   * * * * *   * * * * * *    * * * * * * * 
    
iv) p
    py
    pyt
    pyth
    pytho
    python

In [57]:
#i)

def pattern1(num_rows):
        ans =[]
        for i in range(num_rows):
            row=[1]
            if i > 0:
                for j in range(1,i):
                    element=ans[i - 1][j - 1] + ans[i -1][j]
                    row.append(element)
                row.append(1)
            ans.append(row)
        return ans
def print_(ans):
    max_width =len(' '.join(map(str,ans[-1])))
    for row in ans:
        formatted_row = ' '.join(map(str,row))
        print(formatted_row.center(max_width))
num_rows=7
print("\n")
triangle=pattern1(num_rows)
print_(triangle)

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
 1 5 10 10 5 1
1 6 15 20 15 6 1

In [58]:
#ii) 

def print_pattern(n):
    for i in range(n):
        for j in range(i+1):
            if j == i and i > 1:
                print("*", end="   ")
            else:
                print("*", end="  ")
        print("")

# Example usage:
n = 5
print_pattern(n)

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [65]:
#iii) 

rows = 7

for i in range(rows):
    print(" "*(rows-i-1) + "* "*(i+1))

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [66]:
#iv) 

word = "python"

for i in range(1, len(word) + 1):
    print(word[:i])

p
py
pyt
pyth
pytho
python